.App {
  text-align: center;
}

body {
  background-image: url("https://i.picsum.photos/id/1054/3079/1733.jpg?hmac=Rk5_Xt3oLlDLJHH3ZDyHCqua0s45mhNjXmID277ZOMI");
  background-repeat: repeat;
  background-size: 100%;
}
.users-list {
  padding: 90px;
}

.posts-list {
  padding: 90px;
  text-align: left;
}
